<h2>Ciao, <%= @utente.nome %></h2>
<div align="left">
<a href="/new_annuncio">Inserisci annuncio<span class="sr-only">(current)</span></a>
</div>
<div class="col-md-8">
<h3>Annunci (<%= @utente.annuncios.count %>)</h3>
    <% if @utente.annuncios.any? %>
      <% @utente.annuncios.each do |annuncio| %>
		<h2><%= annuncio.descrizione%></h2>
<% end %>

    <% end %>
 </div>


<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
 <%= button_to "Delete", utente_path(@utente), method: :delete, data: { confirm: "Eliminare utente?" } %>

