<!DOCTYPE html>
<html>
  <head>
    <title>Bibliostud</title>
    <link href="/styles.css" rel="stylesheet" type="text/css" />
    <%= csrf_meta_tags %>

  </head>

  <body>

  
  	


  </nav>

    <%= yield %>
  </body>
</html>
